<table id="reimbursementAppTable" class="display">
	<thead>
		<tr>
			<th>user Id</th>
			<th>type</th>
			<th>Grading Format</th>
			<th>Date Created</th>
			<th>Date Scheduled</th>
			<th>Event Location</th>
			<th>description</th>
			<th>Event Cost</th>
			<th>why</th>
			<th>Time of Day</th>
			<th>supApp</th>
			<th>departApp</th>
			<th>BCApp</th>
			<th>finalApp</th>
		</tr>
	</thead>
</table>
<form action="/actionapp">
<br>
Approve
<br>
  User Id:<br>
  <input type="number" name="userid" >
  <br>
  type ID:<br>
  <input type="number" name="type">
  <br>
  
   start date:<br>
  <input type="date" name="sDate">
  <br>
  Time of day:<br>
  <input type="string" name="time">
  <br>
  Your user Name:<br>
  <input type="text" name="username" >
  <br>
  <br>
  <input type="submit" value="Submit">
</form> 
<form action="/actionde">
<br>
<br>
denied
<br>
  User Id:<br>
  <input type="number" name="userid" >
  <br>
  type ID:<br>
  <input type="number" name="type">
  <br>
  start date:<br>
  <input type="date" name="sDate">
  <br>
  Time of day:<br>
  <input type="string" name="time">
  <br>
  Your user Name:<br>
  <input type="text" name="username" >
  <br><br>
  <input type="submit" value="Submit">
</form> 