<h2 id="welcome-header" style="text-align:center">
</h2>
<div id="attachGrades"></div>
<div class="container jumbotron">
		<h1>Add Event Form</h1>
		<div class="form-group">
			<h3>Event Information</h3>
			<input type="date" class="form-control" id="Sdate">
			<br>
			<input type="date" class="form-control" id="Edate">
			<br>
			<input type="text" class="form-control" id="GradingF" placeholder="grading format">
			<br>
			<input type="text" class="form-control" id="location" placeholder="location">
			<br>
			<input type="text" class="form-control" id="description" placeholder="description">
			<br>
			<input type="number" class="form-control" id="cost" placeholder="cost">
			<br>
			<input type="text" class="form-control" id="why" placeholder="why">
			<br>
			<input type="text" class="form-control" id="timeofday" placeholder="--:-- am/pm">
			<br>
			<select id="event-type" class="custom-select">
				<option value="1" selected>University Course</option>
				<option value="2">Seminar</option>
				<option value="3">Certification Preparation Class</option>
				<option value="4">Certification</option>
				<option value="5">Technical Training</option>
				<option value="6">Other</option>
			</select>
			<br>
			<br>
			<br>
		</div>
		<button class="btn btn-primary" id="submitReimbursement">Submit</button>
</div>